[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mendeleev = "*"
numpy = "*"
scipy = "*"

[dev-packages]
build = "*"
black = "*"
isort = "*"
pylint = "*"
flake8 = "*"
pydocstyle = "*"
mypy = "*"

[requires]
python_version = "3.10"
